.container
  center
    .well(ng-repeat="environment in environments")
      h2 [[environment.name]]
      .col-xs-12.col-sm-6.col-md-4(ng-repeat="host in environment.hosts")
        .thumbnail
          .caption
            h3 Host: [[host.name]]
            p
              .btn.btn-danger(ng-click="remove_host(environment,host)") Remove

      .clearfix
      .command-buttons-under-table
        .btn.btn-primary(ng-click="start_add_host(environment)") Add host
        .btn.btn-primary(ng-click="remove_environment(environment)",ng-show="environment.hosts.length == 0") Remove

    div
      .btn.btn-primary(ng-click="start_add_environment()") Add environment
