.container
  center
    div
      table.data-table
        thead
          tr
            th Name
            th Host
            th Username
            th SSH Key
            th Password
            th

        tbody.host-table
          tr(ng-repeat-start="host in hosts", ng-class="{'even' : $index % 2 === 0}")
            td(ng-click="host_details(host)") [[host.name]]
            td [[host.host]]
            td [[host.username]]
            td [[host.sshkey]]
            td &lt;sensitive data&gt;
            td.table-button-container-right
              .btn-group.table-button-td-fixed-width
                .btn.btn-primary(ng-click="edit_host(host)") Edit
                .btn.btn-danger(ng-click="remove_host(host)") Delete
          tr(ng-repeat-end ng-show="host.details.active")
            td(colspan=6)
              pre [[host.details.info]]

      div
        .btn.btn-primary(ng-click="add_new_host()") Add host