div.modal-header Add Host
div.modal-cont
  form.form-horizontal(role="form")
    .form-group
      label.control-label.col-sm-2(for="name") Name:
      .col-sm-10
        input#name.form-control(ng-model="host.name")
    .form-group
      label.control-label.col-sm-2(for="host") Host:
      .col-sm-10
        input#host.form-control(ng-model="host.host")
    .form-group
      label.control-label.col-sm-2(for="username") Username:
      .col-sm-10
        input#username.form-control(ng-model="host.username")
    .form-group
      label.control-label.col-sm-2(for="password") Password:
      .col-sm-10
        input#password.form-control(ng-model="host.password",type="password")
    .form-group
      label.control-label.col-sm-2(for="sshkey") SSH key:
      .col-sm-10
        textarea#sshkey.form-control(ng-model="host.sshkey")
    div.float-right
      .btn.btn-large.btn-primary(ng-click="ok()") [[confirmText]]
      .btn.btn-large.btn-warning(ng-click="cancel()") Cancel
    div.clearfix
