.container
  table.table.table-striped
   thead
    td Name
    td Host
    td Username
    td SSH Key 
    td Password
    td  

   tbody(ng-repeat="host in hosts")
    tr
      td(ng-click="host_details(host)") [[host.name]]
      td [[host.host]]
      td [[host.username]]
      td [[host.sshkey]]
      td &lt;sensitive data&gt;
      td  
        .btn.btn-large.btn-danger(ng-click="remove_host(host)") Delete
    tr(ng-show="host.details.active")
      td(colspan=6)
        pre [[host.details.info]]
  .btn.btn-large.btn-primary(ng-click="add_new_host()") Add host
  form.form-horizontal(ng-show="add_host.active",role="form")
    .form-group
      label.control-label.col-sm-2(for="name") Name:
      .col-sm-2
        input#name.form-control(ng-model="add_host.host.name")
    .form-group
      label.control-label.col-sm-2(for="host") Host:
      .col-sm-2
        input#host.form-control(ng-model="add_host.host.host")
    .form-group
      label.control-label.col-sm-2(for="username") Username:
      .col-sm-2
        input#username.form-control(ng-model="add_host.host.username")
    .form-group
      label.control-label.col-sm-2(for="password") Password:
      .col-sm-2
        input#password.form-control(ng-model="add_host.host.password",type="password")
    .form-group
      label.control-label.col-sm-2(for="sshkey") SSH key:
      .col-sm-4
        textarea#sshkey.form-control(ng-model="add_host.host.sshkey")
    .btn.btn-large.btn-primary(ng-click="save_new_host()") Add
