.modal-header Add Host
.modal-cont
  form.form-horizontal.modal-form-top(role="form" novalidate)
    .input-group
      span.input-group-addon Name
      input.form-control(type='text', placeholder='Hostname for container', ng-model="host.name", required)

    .input-group
      span.input-group-addon Host
      input.form-control(type='text', placeholder='Hostname for container', ng-model="host.host", required)

    .input-group
      span.input-group-addon Username
      input.form-control(type='text', placeholder='Container name', ng-model="host.username", required)

    .input-group
      span.input-group-addon Password
      input.form-control(type='password', placeholder='Container name', ng-model="host.password")

    .input-group
      span.input-group-addon SSH Key
      textarea.form-control(type='text', placeholder='Environment variables (eg: name1=value1 name2=value2)', ng-model="host.sshkey")

    center
      .error-message [[errorText]]

    .btn-modal-container
      .btn.btn-large.btn-default(ng-click="cancel()") Cancel
      .btn.btn-large.btn-primary(ng-click="ok()") [[confirmText]]
