.container
  .jumbotron
    p.center Welcome to Crane!
    p To add and manage Docker hosts, click on 
      a(href="/#/hosts") Hosts
      span.btn.btn-lg.glyphicon.glyphicon-chevron-right(ng-click="host_details = true",ng-show="!host_details")
      span.btn.btn-lg.glyphicon.glyphicon-chevron-down(ng-click="host_details = false",ng-show="host_details")
      div(ng-show="host_details")
        div Docker hosts are machines which runs the Docker daemon. Only ssh access is needed to start manage containers on this host.
    p To deploy and manage Docker containers, click on 
      a(href="/#/containers") Containers
      span.btn.btn-lg.glyphicon.glyphicon-chevron-right(ng-click="container_details = true",ng-show="!container_details")
      span.btn.btn-lg.glyphicon.glyphicon-chevron-down(ng-click="container_details = false",ng-show="container_details")
      div(ng-show="container_details")
        div Get information and logs from your running containers, start and stop them, or deploy new ones
    p To create deployment templates, click on 
      a(href="/#/containers") Templates
      span.btn.btn-lg.glyphicon.glyphicon-chevron-right(ng-click="template_details = true",ng-show="!template_details")
      span.btn.btn-lg.glyphicon.glyphicon-chevron-down(ng-click="template_details = false",ng-show="template_details")
      div(ng-show="template_details")
        div 
          | Deployment templates makes deployment easier and more flexible. Define variables, reference variables from your deployment template with 
          | the %(variable)% notation, and fill out only the variables when deploy the container from template
    p To browse Docker registries, click on 
      a(href="/#/registry") Registry
      span.btn.btn-lg.glyphicon.glyphicon-chevron-right(ng-click="registry_details = true",ng-show="!registry_details")
      span.btn.btn-lg.glyphicon.glyphicon-chevron-down(ng-click="registry_details = false",ng-show="registry_details")
      div(ng-show="registry_details")
        div Search for repositories, list their tags, get detailed information about the images.
