.container
  center
    div
      table.data-table
        thead
          tr
            th Name
            th URL
            th Username
            th Password
            th Provider
            th

        tbody.registry-table
          tr(ng-repeat="registry in registries", ng-class="{'even' : $index % 2 === 0}")
            td [[registry.name]]
            td [[registry.url]]
            td [[registry.username]]
            td &lt;sensitive data&gt;
            td [[registry.provider]]
            td.table-button-container-right
              .btn-group.table-button-td-fixed-width
                .btn.btn-primary(ng-click="start_edit_registry(registry)") Edit
                .btn.btn-danger(ng-click="remove_registry(registry)") Delete

      div
        .btn.btn-primary(ng-click="start_add_registry()") Add registry
  .well.well-lg
    center.col-sm-6.col-sm-offset-3
      .h3 Search registry

      form(ng-submit="search()")
        .input-group
          input.form-control(type='text', placeholder='Search image...', ng-model="query")
          span.input-group-btn
            button.btn.btn-primary(type='submit') Go!
    .clearfix
    
    center
      table.data-table(ng-show="results.length != 0")
       thead
        td
        td Image
        td Registry
        td Description
       tr(ng-repeat="result in results")
        td
          .btn-group.btn-group
            a.btn.btn.btn-default.glyphicon.glyphicon-stats(href="#/repository/[[result.registry_id]]/[[safe_repository_name(result)]]")
        td [[result.name]]
        td [[result.registry]]
        td [[result.description]]
