.container
  h1 [[repository]]
  div(ng-show="loading")
    .glyphicon.glyphicon-refresh.glyphicon-refresh-animate
    span &nbsp; Loading tags
  table.data-table
    tbody(ng-repeat="tag in tags")
      tr
        td
          .btn-group.btn-group(ng-show="tag.loading")
            .btn.btn-default
              .glyphicon.glyphicon-refresh.glyphicon-refresh-animate
          .btn-group.btn-group(ng-show="!tag.loading")
            .btn.btn-default.glyphicon.glyphicon-stats(ng-click="detailed(tag)")
        td 
          span(ng-repeat="tagname in tag.tags")[[tagname]],
        td [[tag.name]]
      tr(ng-show="tag.details.active")
        td(colspan="3")
          table.table
            tr(ng-repeat="data in tag.details.data")
              td [[ human_readable_size(data.Size) ]]
              td [[ data.container_config.Cmd ]]
              td [[ data.id ]]
        
