.container
  center
    div
      div(ng-show="loading")
        .glyphicon.glyphicon-refresh.glyphicon-refresh-animate
        span &nbsp; Loading

      table.data-table
        thead
          tr
            th Name
            th Variables
            th Actions

        tbody
          tr(ng-repeat-start="template in templates", ng-class="{'even' : $index % 2 === 0}")
            td(ng-click="host_details(host)") [[container.name]]
              button.glyphicon.glyphicon-stats(ng-click="container_details(container)")
              button.glyphicon.glyphicon-th-list(ng-click="container_logs(container)")
            td [[container.image]]
            td [[container.cmd]]
            td [[container.state]]
            td [[container.hostname]]
          tr
            td
              button(ng-click="template_details(template)") [[template.name]]
            td
              ul
                li(ng-repeat="parameter in template.parameters") [[ parameter.name ]]
            td
              .btn.btn-primary(ng-click="start_edit_template(template)") Edit
              .btn.btn-danger(ng-click="delete_template(template)") Delete
          tr(ng-repeat-end)
            td(colspan=3,ng-show="template.details")
              pre [[template.deploy | json]]
                   
      div
        .btn.btn-primary(ng-click="start_add_template()") Add template
