.container
  table.table.table-striped
    thead
      td Name
      td Image
      td Command
      td State
      td Host
    tbody(ng-repeat="container in containers")
     tr
      td [[container.name]]
        br
        button.glyphicon.glyphicon-stats(ng-click="container_details(container)")
        button.glyphicon.glyphicon-th-list(ng-click="container_logs(container)")
      td [[container.image]]
      td [[container.cmd]]
      td [[container.state]]
      td [[container.hostname]]
      td(ng-show="container.state == 'Running'")
        .btn.btn-large.btn-warning(ng-click="stop_container(container)") Stop
      td(ng-show="container.state != 'Running'")
        .btn.btn-large.btn-success(ng-click="start_container(container)") Start
      td 
        .btn.btn-large.btn-danger(ng-click="remove_container(container)") Delete
     tr
      td(colspan=6,ng-show="container.details.active")
        pre [[container.details.data | json]]
     tr
      td(colspan=6,ng-show="container.logs.active")
        p 
        | Showing only the last 200 log lines. Click 
        a(href="/host/[[container.hostid]]/container/[[container.id]]/fulllog") here
        |  to view full log
        pre [[container.logs.data]]

   
  .btn.btn-large.btn-primary(ng-click="start_deploy()") Deploy container
  form.form-horizontal(ng-show="(add_container.status == 'active')",role="form")
    .form-group
      label.control-label.col-sm-2(for="name") Name:
      .col-sm-3
        input#name.form-control(ng-model="add_container.container.name")
    .form-group
      label.control-label.col-sm-2(for="image") Image:
      .col-sm-3
        input#image.form-control(ng-model="add_container.container.image")
    .form-group
      label.control-label.col-sm-2(for="host") Host:
      .col-sm-3
        select#host.form-control(ng-options="host.id as host.name for host in hosts" ng-model="add_container.container.host")
    .form-group
      label.control-label.col-sm-2(for="environment") Environment variables (eg: name1=value1 name2=value2):
      .col-sm-3
        textarea#environment.form-control(ng-list=" ",ng-model="add_container.container.environment")
    .form-group
      label.control-label.col-sm-2(for="portmapping") Portmapping (eg: port1:port2 port3:port4):
      .col-sm-3
        textarea#portmapping.form-control(ng-list=" ",ng-model="add_container.container.portmapping")
    .form-group
      label.control-label.col-sm-2(for="restart") Restart policy:
      .col-sm-3
        select#restart.form-control(ng-options="restart_policy for restart_policy in restart_policies" ng-model="add_container.container.restart") 
    .form-group
      label.control-label.col-sm-2(for="command") Command:
      .col-sm-3
        input#command.form-control(ng-model="add_container.container.command")
    .btn.btn-large.btn-primary(ng-click="deploy_container()") Deploy
  div(ng-show="(add_container.status == 'deploying')") Deploying...
  div(ng-show="(add_container.status == 'finished')") Finished: [[add_container.output]]


