doctype html
html(ng-app="craneApp")
  head
    title= Crane
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(href="css/crane.css" rel="stylesheet")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(src="http://code.angularjs.org/1.1.5/angular.min.js")
    script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js")
    script(src="js/crane.js")
  body(ng-controller="CraneControl")
    .nav.navbar.navbar-default.navbar-inverse(role="navigation")
      .container-fluid
       .navbar-header 
         .navbar-brand Crane &#40372;
       .div
         ul.nav.navbar-nav
           li(ng-class="getactive('host') ")
             a(href="#hosts") Hosts
           li(ng-class="getactive('container')")
             a(href="#containers") Containers
    ng-view
